.spaceAdd{
  font-size: 20px; line-height: 30px;
}

.feedbackForm {
  width:500px;
}

.menuItem{
  padding: 10px !important;
  background-color: white;
  border-radius: 7px;
  width: 400px;
}

.questionField{
  height: 400px;
}

.column-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: stretch;
}


.contactUsBox{

  color: rgb(3, 3, 3);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding: 100px !important;
}

h1{
 color: #000000;
}

.textArea{
  border-radius: 7px
}

#privacylink{
  color: rgb(55, 0, 255);
}

.cardPhotos{
  max-width: 300px;
  margin: 10px;
}

/* button delete --------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: relative;
  top: 80%;
  left: 86%;
  transform: translate(-48%, -100%); 
  /* -ms-transform: translate(-50%, -50%);  */
  background-color: rgb(255, 2, 2);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

}

.container .btn:hover {
  background-color: rgb(5, 70, 247);
}
/* button delete --------------------------------------------------*/

.adminPanel-layout{
  display: flex;
}

#add-item-head{
  text-align: center;
}